<footer>
  <span class='muted'>&copy; <%= config.author %>. All Rights Reserved.</span><br>
  <a href='https://github.com/saintwinkle/hexo-theme-scribble' class='muted'>built with Hexo using Scribble theme</a>
  <br>
  <br>
  <img src='/images/scribble2.png' alt='scribble' />
</footer>
